
<!DOCTYPE html>
{% set bower = 'assets/vendor/' %}

<html ng-app="examarks" >
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link type="text/css" rel="stylesheet" href="{{ asset(bower ~ 'bootstrap/dist/css/bootstrap.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset(bower ~ 'bootstrap/dist/css/bootstrap-theme.min.css') }}" />
        <script src="{{ asset(bower ~ 'angular/angular.min.js') }}" ></script>
        <script src="{{ asset(bower ~ 'jquery/dist/jquery.min.js') }}" ></script>
        <script src="{{ asset(bower ~ 'bootstrap/dist/js/bootstrap.min.js') }}" ></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body ng-cloak="" ng-controller="Controller as ctrl" >
    {% block body %}{% endblock %}
    {% block javascripts %}
    {% endblock %}
</body>
</html>
