{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title %}
    Lobby - {{ student.login }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" id="exams" >
                <h1>My results</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="col-xs-12 table">
                    <thead>
                        <tr>
                            <th> </th>
                            <th> Assessment </th>
                            <th> Mark </th>
                            <th> Equivalent Grade </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in student.modules %}
                            {% for assess in module.assessments %}
                                {% set mark = assess.hasStudentMark(student) %}
                                <tr {% if mark.value and mark.value < 40 %}
                                    class="warning" title="Missed module" 
                                    {% elseif mark.value and mark.value > 40 %}
                                        class="success" title="Exam passed"
                                        {% endif %}  
                                            >
                                            {% if loop.first %}
                                                <td {% if not module.studentCompleted(student) %}
                                                    title="Module not completed"
                                                {% elseif not module.studentPassed(student) %}
                                                    class="warning" title="Module failed"
                                                {% else %}
                                                    class="success" title="Module passed"
                                                {% endif %}
                                                rowspan="{{ module.assessments | length }}" >
                                                <a href="{{ path('module', {'moduleId' : mark.assessment.module.id }) }}">
                                                    {{ mark.assessment.module.name }}
                                                </a>
                                            </td>
                                            {% endif %}
                                                <td>
                                                    <a href="{{ path('assessment', {'assessmentId' : assess.id}) }}" >
                                                        {{ assess.type }}
                                                    </a>
                                                    ({{ assess.weight }} %)
                                                </td>
                                                <td>
                                                    {% if mark.value  %}
                                                        {{ mark.value }}
                                                    {% else %}
                                                        Not marked yet
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if mark.value %}
                                                        {{ mark.grade }}
                                                    {% else %}
                                                        /
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                                {% set avg = module.studentAverage(student) %}
                                                <tr
                                                    {% if not module.studentPassed(student) %}
                                                        class="warning" title="Module failed"
                                                    {% elseif not module.studentCompleted(student) %}
                                                        title="Module not completed yet"
                                                    {% else %}
                                                        class="success" title="Module passed"
                                                    {% endif %}
                                                    >
                                                    <th colspan="2" >Average</th>
                                                    <td colspan="2" >
                                                        {{ avg }}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% endblock %}