{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title %}
    Lobby - {{ student.login }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/indexStudent.css') }}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="exams" >
                <h1>Hello {{ student.login | title }}, here's your results: </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 module-list">
                {% include 'lobby/student/report.html.twig' with {'student' : student } %}
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-12">
                <a class="btn btn-default" href="{{ path('moduleList') }}" >
                    See my modules
                </a>
            </div>           
            {% if student.completedOneModule and not student.didSurvey %}
                <span class="pull-right">
                    <a href="/survey"  class="btn btn-primary" >
                        Answer the survey
                    </a>
                </span>
            {% endif %}
        </div>

    </div>
{% endblock %}