
{% extends "base.html.twig" %}

{% block content %}

    <div class="container-fluid" >
        <div class="row" >
            <div class="col-xs-12">
                <h1> Edit student </h1>
            </div>
        </div>
        {{ form_start(form, {'attr' : {'ng-non-bindable': ''} } ) }}
        <div class="row" >
            <div class="col-xs-12">
                {{ form_row(form.name) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.address) }}
                <label>Modules</label>
                <div class="form-group well">
                    {% for mod in form.modules %}
                        {{ form_row(mod) }}                    
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-12" >
                {{ form_widget(form.submit) }}
                <span class="pull-right" > 
                    <a class="btn btn-default"  href="{{ path('student', {'studentId' : student.id }) }}" >
                        Back to user
                    </a>
                </span>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}