
{% extends "base.html.twig" %}

{% block title %}
    Assessment {{ assessment.type }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Assessment {{ assessment.type }} of module {{ assessment.module.name }} </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    {% for stud in assessment.module.students %}
                        {% set mark = assessment.hasStudentMark(stud) %}
                        {% if mark %}
                            <li class="list-group-item" >
                                {{ stud.login }} :
                                {% if mark.isMarked %}
                                    Mark : {{ mark.value }}
                                {% else %}
                                    Not marked yet
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="list-group-item list-group-item-danger" >
                                No mark found for this student, either this student
                                will not be marked, or there is a problem with the server
                            </li>
                        {% endif %}
                    {% endfor %}  
                </ul>
            </div>
        </div>
    </div>
{% endblock %}