
{% extends "base.html.twig" %}

{% block title %}
    Assessment {{ assessment.type }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Assessment {{ assessment.type }} of module 
                    <a href="{{ path('module',{'moduleId' : assessment.module.id }) }}">
                        {{ assessment.module.name }} 
                    </a>
                </h1>
            </div>
        </div>
        <div class="row">
            {{ form_start(form, {'attr': {'ng-non-bindable':''} }) }}
            <div class="col-xs-12">
                <ul class="list-group">
                    {% for mark in form.marks %}
                        <li class="list-group-item" >
                            <a href="{{ path('student',{'studentId' : mark.vars.data.student.id}) }}">
                                {{ mark.vars.data.student.login }}
                            </a>
                            <span class="pull-right" > 
                                {{ form_errors(mark) }}
                                {{ form_widget(mark) }}
                            </span>
                        </li>
                    {% endfor %}  
                </ul>
            </div>
            <div class="col-xs-12">
                {{ form_widget(form.submit) }}
                <span class="pull-right">
                    <a class="btn btn-default"
                       href="{{ path('module',{'moduleId' : assessment.module.id }) }}">
                        Back to module
                    </a>
                </span>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}