
{% extends "base.html.twig" %}

{% block title %}
    Assessment {{ assessment.type }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset(bower ~ 'moment/min/moment.min.js') }}" ></script>
    <script src="{{ asset(bower ~ 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}" ></script>
{% endblock %}


{% block stylesheets %}
    <link href="{{ asset(bower~'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Assessment {{ assessment.type }} of module 
                    <a href="{{ path('module',{'moduleId' : assessment.module.id }) }}">
                        {{ assessment.module.name }} 
                    </a>
                </h1>
            </div>
        </div>
        <div class="row">
            {{ form_start(form, {'attr': {'ng-non-bindable':''} }) }}
            <div class="col-xs-12" >
                {{ form_row(form.name) }}
            </div>
            {% if form.room is defined %} 
                <div class="col-xs-12" >
                    {{ form_row(form.room) }}
                </div>
            {% endif %}
            <div class="col-sm-12" >
                <div class="form-group" > 
                    {{ form_label(form.examDate is defined ? form.examDate : form.submissionDate) }}
                    <div class="input-group date" id="datetimepicker" >
                        {{ form_widget(form.examDate is defined ? form.examDate : form.submissionDate) }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <label >Participants : </label>
                <ul class="list-group">
                    {% for mark in form.marks %}
                        <li class="list-group-item" >
                            <a href="{{ path('student',{'studentId' : mark.vars.data.student.id}) }}">
                                {{ mark.vars.data.student.login }}
                            </a>
                            <span class="pull-right" > 
                                {{ form_errors(mark) }}
                                {{ form_widget(mark) }}
                            </span>
                        </li>
                    {% endfor %}  
                </ul>
            </div>
            <div class="col-xs-12">
                {{ form_widget(form.submit) }}
                <span class="pull-right">
                    <a class="btn btn-default"
                       href="{{ path('module',{'moduleId' : assessment.module.id }) }}">
                        Back to module
                    </a>
                </span>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <script type="text/javascript" >
        $(function () {
            $('#datetimepicker').datetimepicker({
                'format': 'DD/MM/YYYY HH:mm',
                'minDate' : moment()
            });
        });
    </script>
{% endblock %}