
{% extends "base.html.twig" %}

{% block angularController %}
    {{ asset('assets/js/controllers/moduleController.js') }}
{% endblock %}

{% block angularServices %}
    <script src="{{ asset('assets/js/services/modalFormService.js') }}"></script>
    <script src="{{ asset('assets/js/services/postService.js') }}"></script>
{% endblock %}

{% block title %}
    Module {{ module.name }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Module : {{ module.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2>Participants</h2>
                <ul class="list-group list-unstyled" >
                    {% for stud in module.students %}
                        <li class="list-group-item" >
                            <a href="{{ path('student', {'studentId' : stud.id }) }}">
                                {{ stud.login }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>Assessments</h2>
                <ul class="list-group list-unstyled" >
                    {% for assessment in module.assessments %}
                        <li class="list-group-item" >
                            <a href="{{ path('assessment', { 'assessmentId' : assessment.id }) }}">
                                {{ assessment.type }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if is_granted('ROLE_TEACHER') %}
            <a href="{{ path('deleteModule',{'moduleId' : module.id }) }}" 
               ng-click="ctrl.deleteModule($event)"
               class="btn btn-warning" >
                Delete this module
            </a>
            {#           TODO : EDITION #}
            <a href="#" class="btn btn-primary" > 
                Edit this module
            </a>
        {% endif %}
        <span class="pull-right">
            <a class="btn btn-default"  href="/home">
                Home
            </a>
        </span>
    </div>
{% endblock %}