
{% extends "base.html.twig" %}


{% block title %}
    Edit module
{% endblock %}

{% block content %}
    <div class="container" >
        <div class="row" >
            <div class="col-xs-12" > 
                <h1>Edit {{ module.name }} module </h1>
            </div>
        </div>

        {{ form_start(form, {'attr' : {'ng-non-bindable' :''} }) }}

        <div class="row" >
            <div class="col-xs-12" >
                {{ form_row(form.name) }}            
            </div>
        </div>
        <hr/>
        <div class="row" >
            <div class="col-xs-12" >
                {{ form_row(form.number) }}
            </div>
        </div>
        <hr/>
        <div class="row" >
            <div class="col-xs-12" >
                {{ form_row(form.abbreviation) }}
            </div>
        </div>
        <hr/>
        <div class="row" >
            <div class="col-xs-12" >
                <div>
                    {{ form_label(form.students) }}
                </div>
                {% for student in form.students %}
                    <div class="" >
                        {{ form_widget(student) }}
                        {{ form_label(student) }}
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="row" >
            <div class="col-xs-12" > 
                <button class="btn btn-primary" type="submit">
                    Save
                </button>
                <span class="pull-right" > 
                    <a class="btn btn-default" href="{{ path('module', {'moduleId' : module.id }) }}" >
                        Back to module
                    </a>
                </span>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}