
{% extends "base.html.twig" %}

{% block title %}
    Assessment {{ assessment.type }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Assessment {{ assessment.type }} of module 
                    <a href="{{ path('module',{'moduleId' : assessment.module.id }) }}">
                        {{ assessment.module.name }} 
                    </a>
                </h1>
            </div>
        </div>
        {% if assessment.name %} 
            <div class="row" >
                <div class="col-xs-12" >
                    Assessment name : {{ assessment.name }}
                </div>
            </div>
        {% endif %}
        <div class="row" >
            {% if assessment.dueDate %}
                <div class="col-xs-12" >
                    {{ assessment.dueDate }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    {% for stud in assessment.module.students %}
                        <li class="list-group-item" >
                            {{ stud.login }}
                            <span class="pull-right" >
                                {% if assessment.hasStudentMark(stud).value %}
                                    <label> Mark : </label>
                                    {{ assessment.hasStudentMark(stud).value }}
                                {% else %}
                                    Not marked yet
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}  
                </ul>
            </div>
            <div class="col-xs-12">
                <span class="pull-right">
                    <a class="btn btn-default"
                       href="{{ path('module',{'moduleId' : assessment.module.id }) }}">
                        Back to module
                    </a>
                </span>
            </div>
        </div>
    </div>
{% endblock %}