
{% extends "base.html.twig" %}

{% block title %}
    Assessment {{ assessment.type }}
{% endblock %}

{% block angularServices %}
    <script src="{{ asset(bower~ 'chart.js/dist/Chart.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Assessment {{ assessment.type }} of module 
                    <a href="{{ path('module',{'moduleId' : assessment.module.id }) }}">
                        {{ assessment.module.name }} 
                    </a>
                </h1>
            </div>
        </div>
        {% if assessment.name %} 
            <div class="row" >
                <div class="col-xs-12" >
                    Assessment name : {{ assessment.name }}
                </div>
            </div>
        {% endif %}
        <div class="row" >
            {% if assessment.dueDate %}
                <div class="col-xs-12" >
                    {{ assessment.dueDate }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    {% for mark in assessment.sortedMarks %}
                        <li class="list-group-item" >
                            {{ loop.index }} - 
                            {{ mark.student.login }}
                            <span class="pull-right" >
                                {% if mark.value %}
                                    <label> Mark : </label>
                                    {{ mark.value }}
                                {% else %}
                                    Not marked yet
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}  
                </ul>
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-12 col-sm-6" > 
                <canvas id="canvas1" ></canvas>
            </div>
            <div class="col-xs-12 col-sm-6" > 
                <canvas id="canvas2" ></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span class="pull-right">
                    <a class="btn btn-default"
                       href="{{ path('module',{'moduleId' : assessment.module.id }) }}">
                        Back to module
                    </a>
                </span>
            </div>
        </div>
    </div>
    <script src="{{ asset('assets/js/assessmentstats.js') }}"></script>
{% endblock %}