{% for module in student.modules %}
    <div class="module row" >
        <div class="module-name col-xs-2" >
            <h4> 
                <a href="{{ path('module', { 'moduleId' : module.id}) }}" >
                    {{ module.name | title}}                    
                </a> 
            </h4>
        </div>
        <div class="col-xs-10">
            {% for assess in module.assessments %}
                {% if not assess.isResit %}
                    {% set mark = assess.hasStudentMark(student) %}
                    <div class="row module-informations warning">
                        <div class="col-xs-2">
                            <h5>
                                <a href="{{ path('assessment', {'assessmentId' : assess.id } ) }}">
                                    {{ assess.type }}
                                </a>
                            </h5>
                        </div>
                        <div class="col-xs-4 assessment-mark">
                            {% if mark and mark.value %}
                                <span>{{ mark.value }}/100</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-{{ mark.toCssClass }}" role="progressbar" aria-valuenow="{{ mark.value }}"
                                         aria-valuemin="0" aria-valuemax="100" style="width:{{ mark.value }}%">
                                    </div>
                                </div>
                            {% else %}
                                <h5>
                                    Not marked yet
                                </h5>
                            {% endif %}
                        </div>
                        <div class="col-xs-2">
                            <h5>
                                {% if mark %}
                                    {{ mark.getGrade }}
                                {% else %}
                                    /
                                {% endif %}
                            </h5>
                        </div>
                        <div class="col-xs-4">
                            <h5>
                                {% if assess.hasResit %}
                                    {% set resit = assess.resit %}
                                    {% set mark = resit.hasStudentMark(student) %}
                                    {% if mark %}
                                        <a href="{{ path('assessment', {'assessmentId' : resit.id }) }}">
                                            Resit
                                        </a>
                                        :
                                        {% if mark.value %}
                                            {{ mark.value }} ({{ mark.getGrade }})
                                        {% else %}
                                            <span class="pull-right" >
                                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                    <input type="hidden" name="cmd" value="_s-xclick">
                                                    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHwQYJKoZIhvcNAQcEoIIHsjCCB64CAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYApII27pxl3ofPCOUqAaQOTJ00FM7EYWBF1pShzCh1+aL7cxIStr24YTi2sYgdS/0242J8QFE67awbIsuWkNXLcLHTjHt9g9/boYZhxbKDoMLfPHNk/uS/dKiV35rb7uLXmE4RyXA4wOUc2rU4VDbS+7gQI1cTnzXojKo41xrowtjELMAkGBSsOAwIaBQAwggE9BgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECGOSG7kfSM4ogIIBGHv2heN3Oh4rV8TyLfK/IdtXY9kPj6WwbgqyRjO9ZPm3sfTkZ7Kxc1u63c05q1AI3vFA+4+IOF90VHZcbuee4d114NJFdQQIP6elMSAg6+e0YAddQvEb42J1EJUDIDdvoZAmg5/bUBvZEp16vPbxc6o7BCMaTrD+ISdih1P9EAI8uamF/Grscq0lZUpHGFYOuGZB0GdBbI3/aRrM0ItN4oe6+rWZUxvohjqEDER9TvlIlBMfsD7fbhDLYo3SDfN+o4HwkLDe4Vdvkp5zx4w5LxCeXS31sKaB55Trl2RyLiTut90jWqn+dWqaLfyf/cJIHzroHum+v+66rDR5HQpdJ+jjcSbT1lTt0Lfw9x7bBjcJcvajkkT6qzqgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNzA3MTgxODMxMDlaMCMGCSqGSIb3DQEJBDEWBBSXjbipghNmfiLTKT8sQYnzC5JXLzANBgkqhkiG9w0BAQEFAASBgB+48P7mTUw++BTsB3chngbzK67e+9y3CfwCHG5m6JW7daTDOgciW2/Tjv3RBydm2OPSD9jpJdhMh8sq2hZhSxMsQBTCzn5ImE2k9iaRjXSXL7v3CiTnb+Z9n05Sc/KGUmbQT29BRM58tkGJzR92YnYdkuY2X2M61T1C+FDMKp4c-----END PKCS7-----
                                                           ">
                                                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                    <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                                                </form>
                                            </span>                  
                                        {% endif %}

                                    {% else %}
                                        You don't need a resit exam
                                    {% endif %}
                                {% else %}
                                    Assessment not completed yet
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="module-average row">
        <div class="col-xs-12">
            {% set avg = module.studentAverage(student) | round(2,'floor') %}
            <div class="col-xs-2">
                <h5>Average : </h5>
            </div>
            <div class="col-xs-2">
                <h5>
                    {{ avg }}/100
                </h5>
            </div>
            <div class="col-xs-3">
                <h5 class="text-center" >
                    {% if not module.studentCompleted(student) %}
                        Module not completed
                    {% elseif module.studentPassed(student) %}
                        Module passed !
                    {% else %}
                        Module failed
                    {% endif %}               
                </h5>
            </div>
        </div>
    </div>
{% endfor %}