{% for module in student.modules %}
    <td {% if not module.studentCompleted(student) %}
        title="Module not completed"
        {% elseif not module.studentPassed(student) %}
            class="warning" title="Module failed"
            {% else %}
                class="success" title="Module passed"
                {% endif %}
                    rowspan="{{ module.assessments | length }}" >
                    <a href="{{ path('module', {'moduleId' : module.id }) }}">
                        {{ module.name }}
                    </a>
                </td>
                {% for assess in module.assessments %}
                    {% if  not assess.isResit %}
                        {% set mark = assess.hasStudentMark(student) %}
                        <tr {% if mark.value and mark.value < 40 %}
                            class="warning" title="Missed module" 
                        {% elseif mark.value and mark.value > 40 %}
                            class="success" title="Exam passed"
                        {% endif %}  
                        >
                        {% if not assess.isResit %}
                            <td>
                                <a href="{{ path('assessment', {'assessmentId' : assess.id}) }}" >
                                    {{ assess.type }}
                                </a>
                                {% if assess.hasResit %}
                                    - <a href="{{ path('assessment', {'assessmentId' : assess.resit.id}) }}" >
                                        Resit  
                                    </a>
                                {% endif %}
                                ({{ assess.weight }} %)
                            </td>
                            <td>
                                {{ mark.markStr }}
                                {% if assess.hasResit and assess.resit.hasStudentMark(student) %}
                                    (Resit : {{ assess.resit.hasStudentMark(student).markStr }})
                                {% endif %}
                            </td>
                            <td>
                                {{ mark.grade }}
                                {% if assess.hasResit and assess.resit.hasStudentMark(student) %}
                                    (Resit :  {{ assess.resit.hasStudentMark(student).grade }})
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    {% endif %}
                        {% endfor %}
                            {% set avg = module.studentAverage(student) %}
                            <tr
                                {% if not module.studentCompleted(student) %}
                                    title="Module not completed yet" class="list-group-item-last"
                                {% elseif not module.studentPassed(student) %}
                                    class="warning list-group-item-last" title="Module failed"
                                {% else %}
                                    class="success list-group-item-last" title="Module passed"
                                {% endif %}
                                >
                                <th colspan="2" >Average</th>
                                <td colspan="2" >
                                    {{ avg|round(2, 'floor') }}
                                </td>
                            </tr>
                            {% endfor %}